<div class="main__recipe" >
  <div class="main__recipe__instructions">
    <h3 class="main__recipe__title">INSTRUCTIONS</h3>

    <div
      class="main__recipe__step-container"
      *ngFor="let step of recipe.instructions; let i = index"
    >
      <p class="main__recipe__step-number">{{i + 1}}</p>
      <p class="main__recipe__step-text">{{ step.display_text }}</p>
    </div>
  </div>

  <div class="main__recipe__image-container">
    <img
      [src]="recipe.thumbnail_url"
      alt="Finished dish"
      class="main__recipe__image"
    />
  </div>
</div>
