<div class="container__header">
  <div class="container__header__text">

    <h1 class="container__header__title">Look for <span class="container__header--special">BANGER</span> Food</h1>
    <p class="container__header__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aspernatur, at consequatur culpa dolore eaque eius enim, id, ipsum labore non numquam odio officia quibusdam ratione sunt vel vero.</p>
    <div >
      <input type="text" placeholder="Find recipe" id="search" class="container__header__input">
      <button class="container__header__button" onclick="fetchData()">Search</button>
    </div>
  </div>
  <div class="container__header__image">
    <img class="container__header__image" src="https://hips.hearstapps.com/hmg-prod/images/how-to-make-french-toast-1589827448.jpg?crop=0.734xw:0.490xh;0.0897xw,0.323xh&resize=1200:*" alt="">
  </div>
</div>
<div id="loader" class="loader">
  <img src="" alt="">
</div>
<div class="container__content" id="content"></div>
