<div class="main__header">
  <h1 class="main__header__title">{{recipe.name}}</h1>


  <div class="main__header__facts">
    <div class="main__fact">
      <i class="fa-solid fa-burger main__fact__icon"></i>
      <h3 class="main__fact__value">{{recipe.calories}}</h3>
      <p class="main__fact__label">calories</p>
    </div>

    <div class="main__fact">
      <i class="fa-solid fa-bread-slice main__fact__icon"></i>
      <h3 class="main__fact__value">{{recipe.carbohydrates}}</h3>
      <p class="main__fact__label">carbs</p>
    </div>

    <div class="main__fact">
      <i class="fa-solid fa-fish main__fact__icon"></i>
      <h3 class="main__fact__value">{{recipe.fat}}</h3>
      <p class="main__fact__label">fats</p>
    </div>

    <div class="main__fact">
      <i class="fa-solid fa-cheese main__fact__icon"></i>
      <h3 class="main__fact__value">{{recipe.protein}}</h3>
      <p class="main__fact__label">proteins</p>
    </div>

    <div class="main__fact">
      <i class="fa-solid fa-cake-candles main__fact__icon"></i>
      <h3 class="main__fact__value">{{recipe.sugar}}</h3>
      <p class="main__fact__label">sugar</p>
    </div>
  </div>
</div>
