<div class="container" id="container">
  <app-header></app-header>

  <div *ngIf="isLoading">
    <div class="loader">
      <img [src]="loaderSource" alt="Loader" class="loader__img" />
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="recipes.length > 0">
      <div class="container__content">
        <app-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-card>
      </div>
    </div>
    <div *ngIf="!recipes.length">
      <p class="">No recipes.</p>
    </div>
  </div>
</div>
